apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: preview-feature-branches
  namespace: argocd
spec:
  generators:
  # SCM Provider generator: Automatically discovers ALL feature/* branches
  - scmProvider:
      github:
        organization: Maximusthefuture
        api: https://api.github.com
        tokenRef:
          secretName: github-token
          key: token
        allBranches: true
      filters:
      - branchMatch: "^feature/.*"
      requeueAfterSeconds: 180
  template:
    metadata:
      name: 'preview-{{branch_slug}}'
      labels:
        type: preview
        environment: '{{branch_slug}}'
        branch: '{{branch}}'
        app.kubernetes.io/name: 'preview-{{branch_slug}}'
      annotations:
        branch: '{{branch}}'
        repository: '{{repository}}'
        branch-slug: '{{branch_slug}}'
        argocd.argoproj.io/sync-wave: "0"
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      project: previews
      source:
        repoURL: '{{url}}'
        targetRevision: '{{branch}}'  # Deploy from feature branch!
        path: base  # or 'envs/{{branch_slug}}' if overlay exists
      destination:
        server: https://kubernetes.default.svc
        namespace: 'preview-{{branch_slug}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
        - CreateNamespace=true
        - PruneLast=true
        - ServerSideApply=true
        - Replace=true
      revisionHistoryLimit: 3

