apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: preview-feature-branches
  namespace: argocd
spec:
  generators:
  # Matrix generator: Combine list of branches with directory discovery
  - matrix:
      generators:
      # Generator 1: List of feature branches to scan
      - list:
          elements:
          - branch: feature/testik1
            branchSlug: testik1
          - branch: feature/auth
            branchSlug: auth
          - branch: feature/login
            branchSlug: login
          - branch: feature/new-test
            branchSlug: new-test
          - branch: feature/test-java-app
            branchSlug: test-java-app
          - branch: feature/demo-workflow
            branchSlug: demo-workflow

      # Generator 2: Check if overlay exists on that feature branch
      - git:
          repoURL: https://github.com/Maximusthefuture/gitops.git
          revision: '{{branch}}'  # Scan each feature branch
          directories:
          - path: 'envs/feature-{{branchSlug}}'  # Check if overlay exists
          requeueAfterSeconds: 180
  template:
    metadata:
      name: 'preview-feature-{{branchSlug}}'
      labels:
        type: preview
        environment: 'feature-{{branchSlug}}'
        branch: '{{branch}}'
        app.kubernetes.io/name: 'preview-feature-{{branchSlug}}'
      annotations:
        branch: '{{branch}}'
        path: '{{path}}'
        branchSlug: '{{branchSlug}}'
        argocd.argoproj.io/sync-wave: "0"
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      project: previews
      source:
        repoURL: https://github.com/Maximusthefuture/gitops.git
        targetRevision: '{{branch}}'  # Deploy from feature branch!
        path: 'envs/feature-{{branchSlug}}'
      destination:
        server: https://kubernetes.default.svc
        namespace: 'preview-feature-{{branchSlug}}'
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
          allowEmpty: false
        syncOptions:
        - CreateNamespace=true
        - PruneLast=true
        - ServerSideApply=true
        - Replace=true
      revisionHistoryLimit: 3

